#container {
  width: 250px;
  white-space: nowrap;
}

.blocked {
  background-color: #eeeeee;
  font-weight: bold;
  font-size: 48px;
  color: #555555;
}

#block_this_site {
  margin-top: 15px;
  text-align: center;
}

#blocked_message {
  background-color: #eeeeee;
  width: 50%;
  margin: 300px auto 0px auto;
  text-align: center;
}

.blocked_list {
  padding-left: 0px;
}

.blocked_list ul {
  margin-left: 0px;
}

.blocked_list li {
  height: 28px;
  font-size: 14px;
  list-style-type: none;
}

#close_container{
  text-align: center;
}

#close_window_button {
  width: 110px;
}

.med_button {
  padding: 2px 0px;
  width: 110px;
}

.lg_button {
  width: 250px;
  padding: 8px 0;
}

button.grey {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #333333;
  font-family: "lucida grande", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
}

button.grey:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', e% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf')
}

button.red {
  -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background: -moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color: #fe1a00;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  color: #ffffff;
  font-family: "lucida grande", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0px #b23e35;
}

button.red:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background: -moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', ee1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00',)
}

button.green {
  -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color: #77d42a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  color: #ffffff;
  font-family: "lucida grande", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0px #aade7c;
}

button.green:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
  background: -moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', egeTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #77)
}
